{#delete project confirmation html template of  CADCloud application
@author:    Leszek Dubicki
#studentID:  x14125439
#email:  leszek.dubicki@student.ncirl.ie
#@date: 08/12/2015#}
{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
  <div class="container col-md-7">
  <h2>Are you sure you want to delete the following project:</h2>
  <table class="table table-bordered">
  <tbody>
    <tr>
        <td class="col-md-2">Project Name:</td>
        <td>{{project.name}}</td>
    </tr>
    <tr>
        <td class="col-md-2">Project Number:</td>
        <td>{{project.project_number}}</td>
    </tr>
    <tr>
        <td class="col-md-2">Project Description:</td>
        <td>{%if project.description == None%}
              No description for the project
        {%else%}
              {{project.description}}
        {%endif%}</td>
    </tr>
  </tbody>
  </table>
  {{ wtf.quick_form(form, form_type='horizontal', button_map={'cancel_button': 'primary'}) }}
  {#<a href="{{url_for("delete_project", project_id = project.id)}}"  method="post" class="btn btn-default" role="button">Delete</a>
  <a href="{{redirect_url}}" class="btn btn-default" role="button">Cancel</a>#}
  </div>
{% endblock %}
