{#project listing html template of  CADCloud application
@author:    Leszek Dubicki
#studentID:  x14125439
#email:  leszek.dubicki@student.ncirl.ie
#@date: 08/12/2015#}
{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h2>List o projects:</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        {% for h in headers %}
          <th>{{h[1]}}</th>
        {% endfor %}
        <th colspan=2></th>
      </tr>
    </thead>
    <tbody>
      {% for pid in projects %}
      <tr>
        {% for h in headers %}
          <td>{{projects[pid][h[0]]}}</td>
        {% endfor %}
        <td>
            <a href="{{url_for("get_project",project_id=pid)}}">Show</a> 
        </td>
        <td>
            <a href="{{url_for("delete_project",project_id=pid)}}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{{url_for("add_project")}}" class="btn btn-default" role="button">New Project</a>
</div>
{% endblock %}
