{% extends "show_bare_project.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

  {% block variables %}
    <div class="container col-md-7">
    <h2>Project Variables:</h2>
    <table class="table table-bordered">
    <thead>
    <tr>
        <th class="col-md-2">Name:</th>
        <th class="col-md-2">Type:</th>
        <th class="col-md-2">Value:</th>
        <th class="col-md-2">Comment:</th>
        <th class="col-md-3" colspan=2></th>
      </tr>
    </thead>
    <tbody>
    {% for s in project.strings %}
        <tr>
            <td>{{s.name}}</td>
            <td>String</td>
            <td>{{s.value}}</td>
            <td>{{s.comment}}</td>
            <td><a href = {{url_for("edit_variable",project_id = project.id, variable_type = 'string', variable_id = s.id)}}>Edit</a></td>
            <td><a href = {{url_for("delete_variable",project_id = project.id, variable_type = 'string', variable_id = s.id)}}>Delete</a></td>
        </tr>
    {% endfor %}
    {% for s in project.numbers %}
        <tr>
            <td>{{s.name}}</td>
            <td>Number</td>
            <td>{{s.value}}</td>
            <td>{{s.comment}}</td>
            <td><a href = {{url_for("edit_variable",project_id = project.id, variable_type = 'number', variable_id = s.id)}}>Edit</a></td>
            <td><a href = {{url_for("delete_variable",project_id = project.id, variable_type = 'number', variable_id = s.id)}}>Delete</a></td>
        </tr>
    {% endfor %}
    {% for s in project.booleans %}
        <tr>
            <td>{{s.name}}</td>
            <td>Boolean</td>
            <td>{{s.value}}</td>
            <td>{{s.comment}}</td>
            <td><a href = {{url_for("edit_variable",project_id = project.id, variable_type = 'boolean', variable_id = s.id)}}>Edit</a></td>
            <td><a href = {{url_for("delete_variable",project_id = project.id, variable_type = 'boolean', variable_id = s.id)}}>Delete</a></td>
        </tr>
    {% endfor %}
  </tbody>
  </table>
  <a href="{{url_for("add_variable", project_id = project.id)}}" class="btn btn-default" role="button">Add Variable</a>
  </div>
  {% endblock %}
